@import "tailwindcss";
@import "@nuxt/ui";

html,
body {
  font-family: 'Inter', sans-serif;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
}